{% extends "base.html" %}

{% load i18n %}


{% block head_css %}
  {% include "utils/css-refs.html" %}
{% endblock head_css %}

{% block content %}
<section class="login-wrapper">
  <div class="container">
    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">


    <h1><span style="color: red;">S</span>ign <span style="color: red;">O</span>ut</h1> 

    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
    </form>
    </div>
  </div>
</section>

{% endblock %}


{% block js %}
  {% include "utils/js-refs.html" %}
{% endblock js %}