{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_css %}
  {% include "utils/css-refs.html" %}
{% endblock head_css %}


{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section class="login-wrapper">
    <div class="container">
      <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
    
    <h1><span style="color: red;">C</span>hange <span style="color: red;">P</span>assword</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
</div>
</div>
</section>
{% endblock %}

{% block js %}
  {% include "utils/js-refs.html" %}
{% endblock js %}