{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_css %}
  {% include "utils/css-refs.html" %}
{% endblock head_css %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="login-wrapper">
    <div class="container">
      <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
    <h1><span style="color: red;">P</span>assword <span style="color: red;">R</span>eset</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>
</div>
</section>
{% endblock %}


{% block js %}
  {% include "utils/js-refs.html" %}
{% endblock js %}