{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_css %}
  {% include "utils/css-refs.html" %}
{% endblock head_css %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}

<section class="login-wrapper">
    <div class="container">
      <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
<h1>{% trans "Sign Up Closed" %}</h1>

<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
</div>
</div>
</section>
{% endblock %}


{% block js %}
  {% include "utils/js-refs.html" %}
{% endblock js %}