{% load static %}

   <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>PHPJabbers.com | Free Job Agency Website Template</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}"> 

        <link rel="stylesheet" href="{% static 'custom1/lib/bootstrap/css/bootstrap.min.css' %}">


        <link rel="stylesheet" href="{% static 'custom1/lib/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'recjob/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'recjob/css/fontAwesome.css' %}">
        <link rel="stylesheet" href="{% static 'recjob/css/hero-slider.css' %}">
        <link rel="stylesheet" href="{% static 'recjob/css/owl-carousel.css' %}">
        <link rel="stylesheet" href="{% static 'recjob/css/style.css' %}">

        {% comment %} <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet"> {% endcomment %}

        <script src="{% static 'recjob/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>