{% load static %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Jober Desk | Responsive Job Portal Template</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- All Plugin Css --> 
<link rel="stylesheet" href="{% static 'site-1/css/plugins.css' %}">

<!-- Style & Common Css --> 
<link rel="stylesheet" href="{% static 'site-1/css/common.css' %}">
<link rel="stylesheet" href="{% static 'site-1/css/main.css' %}">
<link rel="stylesheet" href="{% static 'site-1/css/post-detail.css' %}">